<div class="container my-5 target-color-bg text-center">
  <h1 style="font-family: 'American Captain'; opacity: 85%">ТАРИФИ:</h1>

  <div class="row">

    <div class="col-md-4 my-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title favour-title-font">Простий</h4>
          <h5 class="favour-under-title-font">при бюджеті<br> до $300/місяць</h5>
          <div class="my-2" style="border-bottom: 1px solid gray"></div>
          <p class="card-text text-start responsive-favour-font">
            - Знайомство з продуктом<br>
            - Консультації в Zoom<br>
            - Комплексний аналіз конкурентів<br>
            - Декомпозиція цілі<br>
            - Розробка рекламної стратегії<br>
            - Створення воронки продажу<br>
            - Створення і оформлення бізнес-сторінки FB<br>
            - Створення і налаштування БМів + РКабів<br>
            - Створення і налаштування Пікселя (для відслідковування результатів)<br>
            - Розробка портрету ЦА<br>
            - Сегментування ЦА (до 3шт)<br>
            - Розробка офферів і УТП<br>
            - Створення макетів: тексти, заклики + креативи<br>
            - Налаштування та запуск реклами<br>
            - Оптимізація реклами<br>
            - Масштабування робочих РК<br>
            - Робота з блокуваннями<br>
            - Звіти по рекламі (кожен тиждень)
          </p>
          <div class="my-2" style="border-bottom: 1px solid gray"></div>
          <h5 class="favour-under-title-font">ЦіНА</h5>
          <h5 class="favour-under-title-font d-inline text-decoration-line-through">$279</h5>
          <h5 class="favour-under-title-font d-inline">-> $167</h5>
          <br>
          <br>
          <button class="btn mx-lg-5" (click)="openVerticallyCentered(content1)" style="background: RGB(56,107,192); color: azure; width: 100px;">Замовити</button>
        </div>
      </div>
    </div>

    <div class="col-md-4 my-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title favour-title-font">Для об'ємів</h4>
          <h5 class="favour-under-title-font">при бюджеті <br> від $300/місяць</h5>
          <div class="my-2" style="border-bottom: 1px solid gray"></div>
          <p class="card-text text-start responsive-favour-font">
            - Знайомство з продуктом<br>
            - Консультації в Zoom<br>
            - Комплексний аналіз конкурентів<br>
            - Декомпозиція цілі<br>
            - Розробка рекламної стратегії<br>
            - Створення воронки продажу<br>
            - Створення і оформлення бізнес-сторінки FB<br>
            - Створення і налаштування БМів, РКабів<br>
            - Створення і налаштування Пікселя<br>
            - Розробка портретів ЦА<br>
            - Сегментування ЦА (від 3шт)<br>
            - Розробка офферів і УТП<br>
            - Створення макетів: тексти, заклики + креативи<br>
            - Налаштування та запуск реклами<br>
            - Оптимізація реклами<br>
            - Масштабування робочих РК<br>
            - Робота з блокуваннями<br>
            - Тестування гіпотез<br>
            - Звіти по рекламі (кожен тиждень)<br>
          </p>
          <div class="my-2" style="border-bottom: 1px solid gray"></div>
          <h5 class="favour-under-title-font">ЦіНА</h5>
          <h5 class="favour-under-title-font d-inline text-decoration-line-through">$450</h5>
          <h5 class="favour-under-title-font d-inline">-> $270</h5>
          <br>
          <br>
          <button class="btn mx-lg-5" (click)="openVerticallyCentered(content2)" style="background: RGB(56,107,192); color: azure; width: 100px;">Замовити</button>
        </div>
      </div>
    </div>

    <div class="col-md-4 my-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title favour-title-font">Тестовий тиждень</h4>
          <div class="my-2" style="border-bottom: 1px solid gray;"></div>
          <p class="card-text text-start responsive-favour-font">
            - Знайомство з продуктом<br>
            - Консультація в Zoom<br>
            - Аналіз конкурентів і їх реклами<br>
            - Аналіз працюючої реклами<br>
            - Створення рекламної стратегії<br>
            - Підготовка бізнес-сторінки FB<br>
            - Створення БМів + РКабів<br>
            - Налаштування білінгу<br>
            - Створення портрету ЦА<br>
            - Сегментування ЦА<br>
            - Розробка офферів і УТП<br>
            - Прогрів бізнес сторінки та кабінету<br>
            - Розробка креативів<br>
            - Запуск реклами<br>
          </p>
          <p class="responsive-favour-font" style="margin-top: 24px;  opacity: 50%">отримаємо перші заявки, якщо для роботи все готово</p>
          <div class="my-2" style="border-bottom: 1px solid gray"></div>
          <h5 class="favour-under-title-font">ЦіНА</h5>
          <h5 class="favour-under-title-font d-inline">за 6 днів - $54</h5>
          <br>
          <br>
          <button class="btn mx-lg-5" (click)="openVerticallyCentered(content3)" style="background: RGB(56,107,192); color: azure; width: 100px;">Замовити</button>
        </div>
      </div>
    </div>

  </div>
</div>

<!--modal1-->
<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Простий</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer justify-content-center">
    <button class="btn mx-lg-5" style="background: RGB(56,107,192); color: azure; width: 100px;">Надіслати</button>
  </div>
</ng-template>

<!--modal2-->
<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Для об'ємів</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer justify-content-center">
    <button class="btn mx-lg-5" style="background: RGB(56,107,192); color: azure; width: 100px;">Надіслати</button>
  </div>
</ng-template>

<!--modal3-->
<ng-template #content3 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Тестовий тиждень</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer justify-content-center">
    <button class="btn mx-lg-5" style="background: RGB(56,107,192); color: azure; width: 100px;">Надіслати</button>
  </div>
</ng-template>
