<div class="container my-5 target-color-bg">
  <h1 class=" col-12" style="top: 5%;">ПОСЛУГИ:</h1>

  <div class="row">

    <div class="col-sm-4 my-4">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title">Простий</h4>
          <h5>до $300/місяць</h5>
          <div class="my-2" style="border-bottom: 1px solid gray"></div>
          <p class="card-text text-start">
            - Знайомство з продуктом<br>
            - Консультації в Zoom<br>
            - Комплексний аналіз конкурентів<br>
            - Декомпозиція цілі<br>
            - Розробка рекламної стратегії<br>
            - Створення воронки продажу<br>
            - Створення і оформлення бізнес-сторінки FB<br>
            - Створення і налаштування БМів + РКабів<br>
            - Створення і налаштування Пікселя (для відслідковування результатів)<br>
            - Розробка портрету ЦА<br>
            - Сегментування ЦА (до 3шт)<br>
            - Розробка офферів і УТП<br>
            - Створення макетів: тексти, заклики + креативи<br>
            - Налаштування та запуск реклами<br>
            - Оптимізація реклами<br>
            - Масштабування робочих РК<br>
            - Робота з блокуваннями<br>
            - Звіти по рекламі (кожен тиждень)
          </p>
          <a href="#"><img src="assets/logo/logo.png" width="50px" alt=""></a>
        </div>
      </div>
    </div>

    <div class="col-sm-4 my-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Для об'ємів</h4>
          <h5>від $300/місяць</h5>
          <div class="my-2" style="border-bottom: 1px solid gray"></div>
          <p class="card-text text-start">
            - Знайомство з продуктом<br>
            - Консультації в Zoom<br>
            - Комплексний аналіз конкурентів<br>
            - Декомпозиція цілі<br>
            - Розробка рекламної стратегії<br>
            - Створення воронки продажу<br>
            - Створення і оформлення бізнес-сторінки FB<br>
            - Створення і налаштування БМів, РКабів<br>
            - Створення і налаштування Пікселя<br>
            - Розробка портретів ЦА<br>
            - Сегментування ЦА (від 3шт)<br>
            - Розробка офферів і УТП<br>
            - Створення макетів: тексти, заклики + креативи<br>
            - Налаштування та запуск реклами<br>
            - Оптимізація реклами<br>
            - Масштабування робочих РК<br>
            - Робота з блокуваннями<br>
            - Тестування гіпотез<br>
            - Звіти по рекламі (кожен тиждень)<br>
          </p>
          <a href="#"><img src="assets/logo/logo.png" width="50px" alt=""></a>
        </div>
      </div>
    </div>

    <div class="col-sm-4 my-4">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title">Тестовий тиждень</h4>
          <h5>Бескоштовно</h5>
          <div class="my-2" style="border-bottom: 1px solid gray;"></div>
          <p class="card-text text-start">
            - Знайомство з продуктом<br>
            - Консультація в Zoom<br>
            - Аналіз конкурентів і їх реклами<br>
            - Аналіз працюючої реклами<br>
            - Створення рекламної стратегії<br>
            - Підготовка бізнес-сторінки FB<br>
            - Створення БМів + РКабів<br>
            - Налаштування білінгу<br>
            - Створення портрету ЦА<br>
            - Сегментування ЦА<br>
            - Розробка офферів і УТП<br>
            - Прогрів бізнес сторінки та кабінету<br>
            - Розробка креативів<br>
            - Запуск реклами<br>
            <br>
            <br>
          </p>
          <p style=" opacity: 50%">на першому тижні отримаємо перші заявки (якщо для роботи все готово);</p>
          <a href="#"><img src="assets/logo/logo.png" width="50px" alt=""></a>
        </div>
      </div>
    </div>

  </div>
</div>


