@import "~bootstrap-icons/font/bootstrap-icons.css";
@font-face {
  font-family: American Captain;
  src: url("assets/fonts/AmericanCaptain.otf") format("opentype");
}

.target-color-bg{
  background: RGB(233,236,241)
}
