<footer class="py-5 text-center target-color-bg">

      <h4>+380 99 999 88 88</h4>

      <a class="btn btn-outline-dark btn-floating m-1" href="">
        <i class="bi bi-instagram"></i>
      </a>
      <a class="btn btn-outline-dark btn-floating m-1" href="">
        <i class="bi bi-telegram"></i>
      </a>
      <a class="btn btn-outline-dark btn-floating m-1" href="">
        <i class="bi bi-tiktok"></i>
      </a>

    <div class="my-3">
      © 2023 Powered by:
      <a class="text-black" href="https://t.me/ChaklunIvan">ChaklunIvan</a>
    </div>

</footer>
