<div class="container back-image text-center">

  <h1 style="font-family: 'American Captain'; opacity: 85%;">ОТРИМАТИ АУДИТ</h1>
  <h5 style="font-family: 'American Captain'; opacity: 85%;">дізнайся чи готовий сайт та соц. мережі <br>до роботи з таргетом</h5>

  <div class="card responsive-audit">
    <div class="card-body">
      <form>
        <div class="form-group my-3">
          <input type="text" class="form-control" id="formInputName" placeholder="Ім'я">
        </div>
        <div class="form-group my-3">
          <input type="text" class="form-control" id="formInputMail" placeholder="Email">
        </div>
        <div class="form-group my-3">
          <input type="text" class="form-control" id="formInputPhone" placeholder="Номер телефону">
        </div>
        <div class="form-group my-3">
          <select class="form-select" aria-label="Default select example">
            <option selected >Оберіть мессенджер</option>
            <option value="1">Telegram</option>
            <option value="2">Instagram</option>
            <option value="3">Viber</option>
          </select>
        </div>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Для додаткової інформації"></textarea>
        <br>
        <button class="btn mx-lg-5" style="background: RGB(56,107,192); color: azure; width: 150px;">Надіслати заявку</button>
      </form>
    </div>
  </div>

</div>
