<div class="container back-image text-center">

  <h1 style="font-family: 'American Captain'; opacity: 85%;">ОТРИМАТИ АУДИТ</h1>
  <h5 style="font-family: 'American Captain'; opacity: 85%;">дізнайся чи готовий сайт та соц. мережі <br>до роботи з таргетом</h5>

  <div class="card responsive-audit">
    <div class="card-body">
      <form>
        <div class="form-group my-3">
          <input type="text" class="form-control" id="formInputName" placeholder="Ім'я" name="inputName" [(ngModel)]="audit.name">
        </div>
        <div class="form-group my-3">
          <input type="text" class="form-control" id="formInputMail" placeholder="Email" name="inputEmail" [(ngModel)]="audit.email">
        </div>
        <div class="form-group my-3">
          <input type="text" class="form-control" id="formInputPhone" placeholder="Номер телефону" name="inputPhone" [(ngModel)]="audit.phone">
        </div>
        <div class="form-group my-3 d-flex">
          <select class="form-select" style="margin-right: 10px" (change)="messengerSelected()" name="inputMessenger" [(ngModel)]="audit.messenger">
            <option hidden selected disabled value=""> Messenger </option>
            <option> Telegram </option>
            <option>Instagram</option>
            <option>Viber</option>
          </select>
          <input type="username" class="form-control" placeholder="@username" [disabled]="disableUsernameInput" name="inputUsername" [(ngModel)]="audit.username">
        </div>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Для додаткової інформації" name="inputDescription" [(ngModel)]="audit.description"></textarea>
        <br>
        <button class="btn mx-lg-5" style="background: RGB(56,107,192); color: azure; width: 150px;" (click)="sendAudit()">Надіслати заявку</button>
      </form>
    </div>
  </div>

</div>
