<div class="container back-image text-center">

  <h1 style="font-family: 'American Captain'; opacity: 85%;">ОТРИМАТИ АУДИТ</h1>

  <div class="card responsive-audit">
    <div class="card-body">
      <form>
        <div class="form-group my-3">
          <input type="text" class="form-control" id="formInputName" placeholder="Ім'я">
        </div>
        <div class="form-group my-3">
          <input type="text" class="form-control" id="formInputMail" placeholder="Email">
        </div>
        <div class="form-group my-3">
          <input type="text" class="form-control" id="formInputPhone" placeholder="Номер телефону">
        </div>
        <div class="form-group my-3">
          <input type="text" class="form-control" id="formInputMessanger" placeholder="Мессенджер">
        </div>
        <button class="btn mx-lg-5" style="background: RGB(56,107,192); color: azure; width: 150px;">Аудит</button>
      </form>
    </div>
  </div>

</div>
